body{
  /*   background: -webkit-linear-gradient(left, #0072ff, #00c6ff);*/  

background-color: rgb(19, 19, 31);
color: aliceblue;

;   
}

.body{
  padding-top: 100px;
}
.nav-link{
 color: white;

 
}

.a{
  padding: 50px 50px;
  
}

.btn{
  border-width: medium;
  border-style: solid;
  border-color: #8257E6;
  border-radius: 20px;
  padding-right: 30px;
  padding-left: 30px;
  background-color:rgb(19, 19, 31);
  padding-top: 5px;
  font-size: 15px;


}

li{
  padding-right: 10px;
  padding-left: 10px;
}
.btn:hover{
  background-color: #8257E6;
  border-color: rgb(19, 19, 31);  
  transition: 3.5s ;   
}
.nav-item:hover .nav-link:hover{
  color: aliceblue;
  text-decoration: underline;
  border-color: #8257E6;
  font-size: +18px;
  text-decoration-color:#8257E6;
  text-decoration-style: wavy  ;
  text-decoration-thickness: 20%;
  transition: .9s ;




  
  
}
.logo:hover{
  width: 79.8px; 
  height: 25.2px;


}

article{
  padding-top: 30px;
}

.hamburguer{
  color: aliceblue;
}

